@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');

html,
body {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: rgb(17 24 39);
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #242424;
	border-radius: 1px;
}

::-webkit-scrollbar-thumb {
	background: #ffffff;
	border-radius: 1px;
}

.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bg-dots-lighter {
	background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.22676 0C1.91374 0 2.45351 0.539773 2.45351 1.22676C2.45351 1.91374 1.91374 2.45351 1.22676 2.45351C0.539773 2.45351 0 1.91374 0 1.22676C0 0.539773 0.539773 0 1.22676 0Z' fill='rgba(255,255,255,0.07)'/%3E%3C/svg%3E")
}

.bigdiv {
	display: flex;
	flex-direction: column;
}

.transparent-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.316);
	transition: background-color 0.3s ease;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
}

.header-image {
	max-width: 125px;
	padding: 5px;
	height: auto;
	transition: max-width 0.3s ease;
}

.transparent-header.scrolled {
	background-color: rgba(255, 255, 255, 0);
	box-shadow: none;
}

.header-buttons {
	align-self: center;
	margin-right: 20px;
}

.header-buttons button {
	margin-left: 5px;
	width: 100px;
	border-radius: 20px;
	padding: 10px;

}

.btn {
	font-family: 'DM Sans', sans-serif;
	position: relative;
	color: rgb(241, 241, 241);
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	display: inline-block;
}

a {
	display: inline-block;
}

.btn:hover {
	color: whitesmoke;
	text-decoration: none;
}

.btn::before {
	content: '';
	position: absolute;
	width: 0%;
	height: 0.105rem;
	left: 0;
	bottom: 0;
	visibility: hidden;
	background-color: #3DD980;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.btn:hover::before {
	width: 100%;
	visibility: visible;
}

.btn.active {
	position: relative;
}

.btn.active::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 0.105rem;
	left: 0;
	bottom: 0;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.container {
	width: 100%;
	display: flex;
	margin-top: 170px;
	flex-direction: column;
}

#presentation {
	margin-left: 20%;
	margin-right: 20%;
	padding: 1rem;
	background-image: linear-gradient(to bottom left, rgba(68, 67, 67, 0.5) 0%, transparent 100%);
	border-radius: 15px;
	box-shadow: 0 0.25rem 0.5rem rgba(128, 128, 128, 0.2);
}

p {
	color: rgb(180, 178, 178);
	font-family: 'DM Sans', sans-serif;
}

h1 {
	font-family: 'DM Sans', sans-serif;
	color: white;
	text-align: center;
}

.menu {
	max-width: 70px;
	padding: 5px;
	height: auto;
	transition: max-width 0.3s ease;
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: none;
	padding: 0;
}

.line {
	fill: none;
	stroke: rgb(231, 231, 231);
	stroke-width: 6;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
		stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.line2 {
	stroke-dasharray: 60 60;
	stroke-width: 6;
}

.line3 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

.opened .line1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

.opened .line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
}

.opened .line3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

#burgerdiv {
	width: 100%;
	background-image: linear-gradient(to bottom left, rgba(68, 67, 67, 0.5) 0%, transparent 100%);
	border-radius: 15px;
	box-shadow: 0 0.25rem 0.5rem rgba(128, 128, 128, 0.2);
	flex-direction: column;
	position: fixed;
	display: none;
	margin-top: 125px;
	padding-top: 20px;
	transition: 0.2s;
	height: auto;
}

#burgerdiv button {
	margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
	#presentation {
		width: 100%;
		border-radius: 0;
		margin: 0;
	}

	.header-buttons {
		display: none;
	}

	.menu {
		display: flex;
	}
}